:root {
    --color1: rgb(117, 4, 117);
    --color2: rgb(199, 12, 199);
    --shColor: rgb(233, 224, 224);
    --sh: 10px;
    --margin: 10px;
    --borederColor: white;
}

* {
    background-color: rgb(88, 82, 82);
    color: white;
}
header {
   text-align: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.idCard {
    border-style: dashed;
    border-color: var(--borederColor);
    height: 300px;
    width: 30%;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    background: linear-gradient(var(--color1), var(--color2));
}

.cardHead {
    align-content: center;
    border-style: solid;
    border-color: var(--borederColor);
    padding-left: 5px;
    padding-right: 5px;
}
pre {
    background: linear-gradient(var(--color1), var(--color2));
    margin-top: 0px;
    padding: 15px;
    white-space: pre-wrap;
    user-select: all;
    transition: font-size 1s 1s;
}

.idCard p {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    color: var(--color2)
}

h2 {
    color: var(--color2)
}

.idCard:hover{
    box-shadow: var(--sh) var(--sh) var(--sh) white;
}

pre:hover{
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .idCard{
        width: 33%;
    }
}

@media screen and (max-width: 768px){
    .idCard{
        width: 50%;
    }
}